# Dependencies
node_modules/

# Environment
.env

# Logs
logs/
*.log

# Build
dist/
build/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite3

# Temporary
tmp/
temp/

package-lock.json

.postman/
postman/